@model IEnumerable<WebUI.Models.MenuLinkModels>
@{
    Layout = null;
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/setslidemenu")
<script type="text/javascript">
    $(document).ready(function () {
        funcSetSlideMenu();
    });
</script>
<div id="mainMenu" style="background-color: yellow;">
 <p id="Menu" style="background: green;min-width: 100px;height: 30px;font-size: x-large;text-align: center;color: white;">Menu</p>
    <div id="divSlide" style="height: 30px;">
        @foreach(var link in Model)
        {
            @Html.RouteLink(link.Name,new
                {
                    controller = link.Controller,
                    action = link.Action
                },
                            new
                                {
                                    @class = link.Name == ViewBag.SelectedCategory ? "selected" : null
                                })
        }
    </div>
</div>