@model System.Collections.ObjectModel.Collection<Domain.Blog.ShortArticle>
@{
    Layout = null;
}
<div>
    @foreach (var item in Model)
    {
        <p>@Html.ActionLink(item.Date.ToShortDateString() + " " + item.ArticleShortName, "GetArticle", new { item.ID })</p>
    }
</div>