@{
    ViewBag.Title = "Blog";
    @Styles.Render("~/Content/blog")
}
<div id="AddArticle">@Html.ActionLink("Add new article", "AddArticle")</div>
<div>
    <div id="BlogField">
        @ViewBag.Article
    </div>
    <div id="ArchiveField">
        <div id="DivUserInfo"><br>@{Html.RenderAction("BlogArchive","Blog");}</br></div>        
    </div>
</div>
