@{
    ViewBag.Title = "Blog";
    @Styles.Render("~/Content/blog")
}
<div>
    <div id="BlogField">
        fkdlhbjdgkljhbkfgjhkgjhkfgjghkljjjjjjjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdkdkdkdkdkdkdk dkdkdkdkdkdkdkdkdkdkhhjhgk
        fkdlhbjdgkljhbkfgjhkgjhkfgjghkl jjjjjjjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkhhjhgk
        fkdlhbjdgk ljhbkfgjhkgjhkfgjghkljjjjjjjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkhhjhgk
        fkdlhbjdgkljhbkfgjhkgjhkfgjghklj jjjjjjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdk d kdkdkdkdkdkdkdkh hjhgkfkdlhbjdgk ljhbkfgjhkgjhkfgjghkljjjjjjjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdkdkd kdkdkdkdkdkdkdkdkdkdkdkdkdkdkhhjhgkfkdlhbjdgkljhbkf gjhkgjhkfgjghkljjj jjj jjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdkdkdkdkd kdkdkdkdkdkdkdkdkdkdkdkdkhhjhgkfkdlhbjdgkljhbkfgj hkgjhkfgjghkl jjjjjjjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdkd kd kdkdkdkdkdk dkdkdkdkdkdkdkdkdkhhjhgkfkdlhbjdgkljhbkf gjhkgjhkfgj ghkljjjjjjjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkd kdkdkdkdkdkdkdkdkhhjhgk 
        fkdlhbjdgkljhbkfgj h kgjhkfgjghkljjjjjjjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkhhjhgk
        fkdlhbjdgkljhb kfgjhkgjhkfgjghkljjj jjjjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkd kdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkhhjhgkfkdlhbjdgkljhbkfgjhkgjhkfgjghkljjjjjjjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkd kdkdkdkdk dkdkdkdkdkdkdkdkdkdkdkdkdkhhjhgk
        fkdlhbjdgkljhbkf  gjhkgjhkfgjghkljjj jjjjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdk dkdkdkdkdkdkdkdkdkhhjhgk
        fkdlhbjdgkljh bkfgjhkgjhkfgjghkl jjjjjjjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkd kdkdkdkd kdkdkdkdkdkdkdkdkdkdkdkdkdkhhjhgkfkdlhbjdgkljhbkfgjhkgjhkfgjghkl jjjjjjjjjjjjjjjjjjjjjjjjjjg  fkdlhbjdgkljhbkfgjhkgjhkfgjghkljjjjjjjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkhhjhgkfkdlhbjdgkljhbkfgjhkgjhkfgjghkljjjjjjj  jjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdkdkdkdkdk dkdkdkdkdkdkdkdkdkdkdkdkhhjhgk 
        fhdkdkdkd kdkdkdkdkdkdkdkdkdkd kdkdkdkdkdkdkdkdkdkdkdkhhjhgkfkdlhbjdgkljhbkfgjhkgjhkfgjghklj jjjjjjjjjjjjjjjjjjjjjjjjjgfkdlh bjdgkljhbkfgjhkg jhkfgjghkljjjjjjjjjj jjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdkdkdkdkdkd kdkdkdkdkdkdkdkdkdkdkdkhhjhgk
        fhdkdkdkdkdkdkdkdkdkdk dkdkdkdkdkdkdkdkdkdkdkdkdkdkdkhhjhgkfkdlhbjdgkljhbkfgjhkgjhkfgjghkljjjjj  jjjjjjjjjjjjjjjjjjjjjg
        fhdkdkdkdkdkdkdkdkdk dkdkdkdkdkdkdkdkdkdkdkdkdkdkdkdkhhjhgk
    </div>
    <div id="ArchiveField">
        <div id="DivUserInfo">@{Html.RenderAction("BlogArchive","Blog");}</div>
    </div>
</div>
