#tablePurse {
    font-size: smaller;
    border: black;
    border-style: solid;
    border-width: 1px;
    margin-left:auto; 
    margin-right:auto;
    float: left;
}
#tablePurse tr {
    border: black;
    border-style: solid;
    border-width: 1px;
}
#tablePurse tr td{
    border: black;
    border-style: solid;
    border-width: 1px;
    padding: 0 .5em 0 .5em;
}
#SpanDaysSingleOperations {
    background-color: rgb(244, 105, 126);
    color: white;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.Sum {

}
.NewOperation {
    
}
.NewOperationName
{
    border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100px;
}
.NewOperationValue
{
    border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100px;
}
.Operation
{
    border: none;
    background-color: rgb(244, 105, 126);
    color: white;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100px;
}
.OperationName 
{
    border: none;
    background-color: rgb(244, 105, 126);
    color: white;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100px;
}
.OperationValue
{
    border: none;
    background-color: rgb(244, 105, 126);
    color: white;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100px;
}
.Day {

}
#Sum {
    border: black;
    border-style: solid;
    border-width: 1px;
    text-align: right;
    margin-right: .2em;
}
.ButtonDelete {
     border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 10px;
}
#Prev {
}
#Next {
}
#MonthSumSpan {
    border: none;
}
 #Year 
 {
     margin: 0 2% 2% 10%;
     float: left;
 }
 #MonthNumber 
 {
     margin: 0 2% 2% 2%;
     float: left;
 }
 #MonthName 
 {
     margin: 0 2% 2% 2%;
 }
 #ButtonSet 
 {
     margin: 0 2% 2% 10%;
     float :left
 }
 #ButtonDir 
 {
     margin: 0 2% 2% 10%;
     float :left
 }
 #MainDir {
     margin-left: auto;
     margin-right: auto;
 }
 #DiagramMonth {
     float: left;
 }
 #DiagramMonthLabel {
     float: left;
     margin-left: 10%;
     background: black;
 }
    