#tablePurse {
    font-size: smaller;
    border: black;
    border-style: solid;
    border-width: 1px;
}
#tablePurse tr {
    border: black;
    border-style: solid;
    border-width: 1px;
}
#tablePurse tr td{
    border: black;
    border-style: solid;
    border-width: 1px;
    padding: 0 .5em 0 .5em;
}
#SpanDaysSingleOperations {
    background-color: rgb(244, 105, 126);
    color: white;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.Sum {

}
.NewOperation {
    
}
.NewOperationName
{
    border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100px;
}
.NewOperationValue
{
    border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100px;
}
.Operation 
{
    border: none;
    background-color: rgb(244, 105, 126);
    color: white;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100px;
}
.Day {

}
#Sum {
    border: black;
    border-style: solid;
    border-width: 1px;
    text-align: right;
    margin-right: .2em;
}
.ButtonDelete {
     border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 10px;
}
