body {
}
#BlogField {
    float: left;
    width: 70%;
    display: block;
}
#ArchiveField {
    float: right;
    background: khaki;
    width: 30%;
}
#Text {
    width: 800px;
    height: 400px;
    padding-top: 20px;
    padding-left: 20px;
}
