#YearTable {
    width: 90%;
}
#YearTable tr td{
    border: black;
    border-style: double;
}
.ViewMonth {
    width: 30%;
    height: 15%;
}
.FirstMonth 
{
    margin-left: 5%;
    background: greenyellow;
}
.SecondMonth 
{
    background: pink;
}
.ThirdMonth 
{
    margin-right: 5%;
    background: yellow;
}
.LineMonth 
{
    padding-bottom: 10%;
}
#DivYearData 
{
    display: block;
    margin-left: 40%;
}
#YearPrev {
    float: left;
    margin-right: 2%;
}
#YearName {
    float: left;
    margin-right: 2%;
}
#YearNext {
    
}
 #DiagramYear {
     width: 40%;
     height:450px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 #DiagramYearLabel 
 {
     background: black;
     margin-left: 40%;
 }