@{
    ViewBag.Title = "Home Page";
    @Scripts.Render("~/bundles/jquery")
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Title").text('Hello guest:)');
        })
    </script> 
}
<h2 id="Title">If you read this Text - in your browser @Request.Browser.Browser disabled JavaScript. Please enable this function for correct work!!!</h2>
<div>
    <p>Away to use the site, hover your mouse on the word "Menu" in the upper left corner.        </p>
    <p>At the moment the site is implementing the functional currency accounting and costing.     </p>
</div>
<div>
    <p>Для подальшего использования сайта, наведите мышь на надпись "Menu" в левом верхнем углу.  </p>
    <p>На данный момент сайт реализует функционал денежного учета и подсчета затрат.              </p>
</div>

